.TopHeader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: darkred;
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  z-index: 1000;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: rgb(255, 77, 77);
  margin: 0;
  padding: 0;
}
.Menu-Horizontal li a {
  text-decoration: none;
  padding: 0.938rem 1.25rem;
  color: rgb(255, 69, 69);
  display: block;
}
.Menu-Horizontal li a:hover {
  color: yellow;
}
.Menu-Vertical {
  padding: 0;
  margin: 0;
  position: absolute;
  display: none;
  background-color: darkgreen;
  width: 12.5rem;
  list-style: none;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.Menu-Vertical li a {
  display: block;
  padding: 0.625rem;
  color: grey;
  text-decoration: none;
}
.Menu-Vertical li a:hover {
  background-color: rgb(0, 255, 255);
  color: darkgreen;
}
.h1 {
  align-items: center;
}
/*FORMULARIO*/
.seccion-formulario {
  background-color: rgb(0, 255, 213);
  padding: 2.5rem;
  border: 0.188rem solid rgba(137, 43, 226, 0);
  border-radius: 3.125rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.div-cont-formulario {
  background-color: rgb(196, 246, 255);
  padding: 2.5rem;
  border: 0.125rem solid rgb(0, 0, 0);
  border-radius: 1.25rem;
  width: 100%;
  max-width: 31.25rem;
}

/*Como todas las secciones tienen el mismo nombre campo, este afecta a todas las secciones*/
.campo {
  background-color: rgb(86, 255, 185);
  padding: 0.625rem;
  /*para separar las secciones*/
  margin-bottom: 0.5rem;
  border: 0.063rem solid black;
  border-radius: 0.938rem;
}

.Formulario label {
  display: block;
  color: rgb(238, 47, 47);
  font-weight: 400;
  /*Para agrandar los bloques de las secciones*/
  margin-bottom: 0.5rem;
}

.Formulario input[type="text"],
.Formulario select {
  width: 90%;
  padding: 0.625rem;
  border: 0.094rem solid rgba(0, 255, 234, 0);
  border-radius: 1.25rem;
}

.lista-checkbox,
.lista radio {
  list-style: none;
  padding: 0.5rem;
  background-color: rgb(255, 192, 223);
}

.Formulario button {
  background-color: aquamarine;
  border: 0.125rem solid salmon;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}
